<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta name="robots" content="index,follow">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="description" content="Flume is a beautiful Instagram app for your Mac.">
		<meta name="keywords" content="flume, flume mac, flume app, instagram, mac, vsco, vscocam, instadesk, instagram desktop, instagram mac">

				<title>Flume - A beautiful Instagram experience for your Mac</title>
				
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png?1577905444">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-precomposed.png?1577905444">		
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png?1577905444">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png?1577905444">
		<link rel="manifest" href="/assets/images/favicons/site.webmanifest?1577905444">
		<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico?1577905444">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml?1577905444">		
		<meta name="theme-color" content="#ffffff">

		<meta property="og:title" content="Flume" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://flumeapp.com" />
		<meta property="og:site_name" content="Flume" />
		<meta property="og:description" content="A beautiful Instagram app for your Mac" />
		<meta property="og:image" content="https://flumeapp.com/assets/images/banner.jpg?1577905444" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Flume" />
		<meta name="twitter:description" content="A beautiful Instagram app for your Mac" />
		<meta name="twitter:image" content="https://flumeapp.com/assets/images/banner.jpg?1577905444" />
		<meta name="twitter:domain" content="https://flumeapp.com" />	

		<link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen">

		
		
		
		<script src="/assets/js/ga.js" async="" type="text/javascript"></script>		
		<script src="/assets/js/libs/jquery-3.1.1.min.js" type="text/javascript"></script>
		<script src="/assets/js/libs/modernizr-3.3.1.min.js" type="text/javascript"></script>

				
		<script src="/assets/js/libs/swiper.min.js" type="text/javascript"></script>
		<script src="https://gumroad.com/js/gumroad.js"></script>
		
		<style type="text/css" media="screen">
			div#banner
			{ 
				position:fixed;
       			/*position: absolute; */
       			top: 0; 
       			left: 0; 
       			background-color: #4A90E2; 
       			width: 100%;
       			z-index: 1000;
     		}

	     	div#banner-content
	     	{ 
	       		width: 80%; 
	       		margin: 0 auto;        
	       		padding: 10px;        
	       		text-align: center;
	       		color: #fff;
	     	}

			div#banner-content a
	     	{ 	       		
	     		font-size: 0.7em;	     		
	       		color: #fff;
	       		text-decoration: none;
	     	}

	     	div#banner-content a:hover
	     	{ 	       		
	       		color: #fff;
	       		opacity: 0.8;
	     	}

/*	   		#wrapper
		    {
		    	padding-top: 110px;
		   	}

			@media screen and (min-width: 1024px)
			{
				#wrapper
			    {
			    	padding-top: 60px;
			   	}  
			}		    
*/
		</style> 

		<link rel="stylesheet" type="text/css" href="/assets/css/libs/cookieconsent.min.css" />

		<script src="/assets/js/libs/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#4A90E2",
		      "text": "#fff"
		    },
		    "button": {
		      "background": "transparent",
		      "text": "#fff",
		      "border": "#fff"
		    }
		  },
		  "content": {
		  	"message": "This website uses cookies to ensure you get the best experience.",
		    "href": "https://flumeapp.com/privacy/"
		  }
		})});
		</script>

		<!-- Hotjar Tracking Code for flumeapp.com -->
		<script>
		    (function(h,o,t,j,a,r){
		        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		        h._hjSettings={hjid:1301136,hjsv:6};
		        a=o.getElementsByTagName('head')[0];
		        r=o.createElement('script');r.async=1;
		        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		        a.appendChild(r);
		    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</head>
	<body>

		
		 
<!-- 		<div id="banner">
			<div id="banner-content">💸 Today only, "pay what you want" for Flume Pro - just enter any price during checkout!</div>
	  	</div>
 -->	  	

<div id="wrapper">
	<header id="header" class="header">
		<div class="inner">
			<nav class="menu" id="menu">
	<span class="logo"><a href="https://flumeapp.com/"><img src="/assets/images/logo.svg" alt="Flume" width="80" height="30" /></a></span>
	<ul class="navigation">
		
				
		
				
				
				
				
		
				
		<li class="active"><a href="https://flumeapp.com/">App</a></li>
		<!-- <li><a href="https://flumeapp.com/new-tab/">Extension</a></li> -->
		<li><a href="https://flumeapp.com/blog/">Blog</a></li>
		<li class="desktop">
			<a class="label" id="support-menu">Support</a>
			<ul id="support-menu-popover">
				<li><a href="https://flumeapp.com/help/">Help Docs</a></li>
				<li><a href="https://flumeapp.com/support/">Support Portal</a></li>
				<li><a href="https://flumeapp.com/suggestions/">Suggest a Feature</a></li>
			</ul>
		</li>
		<li class="mobile"><a href="https://flumeapp.com/help/">Help Docs</a></li>
		<li class="mobile"><a href="https://flumeapp.com/support/">Support Portal</a></li>
		<li class="mobile"><a href="https://flumeapp.com/suggestions/">Suggest a Feature</a></li>
		<li><a href="https://instagram.com/flumeapp/"><img src="/assets/images/icon-instagram.svg" alt="Instagram" width="20" height="20" /></a></li>
		<li><a href="https://twitter.com/flumeapp/"><img src="/assets/images/icon-twitter.svg" alt="Twitter" width="20" height="20" /></a></li>
	</ul>
</nav>			<div class="title">
				<h1 class="headline">Flume</h1>
				<h2 class="description">A beautiful Instagram experience for your Mac. <a href="#features" class="scroll">Learn More</a></h2>

				<p style="position: relative;">
					<span id="download-container">
						<span id="popover">									
							<span class="instructions">Your download will begin automatically. Once it finishes, just double-click Flume.app to get started!</span>
							<!-- <span class="instructions"><a href="https://flumeapp.com/appstore/" target="_blank">Upgrading from the Mac App Store?</a></span> -->
						</span>							
						<a class="download" id="download-button">
							<img src="assets/images/icon-apple.svg" alt="Apple" width="26" height="26" />
							<span>Download</span>
						</a>							
					</span>
					<a class="upgrade-to-pro" id="upgrade-to-pro" href="https://gum.co/flumepro">
						<img src="assets/images/icon-pro.png" alt="Pro" width="36" height="26" />
						<span>Upgrade</span>
					</a>
				</p>
				<p>
					<span class="setapp">Latest Version: <a href="https://help.flumeapp.com/whatsnew/">2.8.6.5</a> | Requires macOS Yosemite 10.10+ | Also available on <a href="https://go.setapp.com/stp154?refAppID=237&amp;utm_medium=available_on_setapp_button&amp;utm_source=237&amp;utm_campaign=https://flumeapp.com/" target="_blank">Setapp</a><!-- <br /><a href="https://flumeapp.com/appstore/">Upgrading from the Mac App Store?</a> | <a href="https://flumeapp.com/pro/lost/">Lost your Licence Code?</a> --></span>
				</p>						
			</div>

			<ul class="screenshots">
				<li>
					<figure class="screenshot screenshot-left"></figure>
				</li>
				<li>
					<figure class="screenshot screenshot-center"></figure>
				</li>
				<li>
					<figure class="screenshot screenshot-right"></figure>
				</li>
			</ul>
		</div>
	</header>

	<a id="features"></a>

	<main id="content">
		<div class="inner">									
			<span class="border">
				<span class="border-title">Discover some of Flume's features…</span>
			</span>

			<ul class="features">
				<li>
					<span class="feature feature-pro">
						<figure><img src="assets/images/feature-upload.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Upload <em>PRO</em></h3>
						<p>Upgrade to <a href="https://support.flumeapp.com/article/41-what-is-flume-pro">Flume Pro</a> and upload your photos and videos directly from your Mac.</p>
					</span>
				</li>
				<li>
					<span class="feature feature-pro">
						<figure><img src="assets/images/feature-accounts.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Multiple Accounts <em>PRO</em></h3>
						<p><a href="https://support.flumeapp.com/article/41-what-is-flume-pro">Flume Pro</a> also lets you add all the accounts you manage.</p>
					</span>
				</li>						
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-insights.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Insights and Promotions</h3>
						<p>Get statistics about your posts and followers, and promote your posts (requires an <a href="https://business.instagram.com" target="_new">Instagram Business profile</a>).</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-messaging.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Direct Messaging</h3>
						<p>Start conversations with friends, customers and fans. Share your favourite profiles, posts, hashtags, locations and more.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-activity.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Activity</h3>
						<p>See your latest activity (likes, comments and friends that join Instagram) and receive desktop notifications.</p>
					</span>
				</li>						
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-focus.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Photo Focus</h3>
						<p>A beautiful design that focuses your attention on the photos and videos.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-ratio.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Original Aspect Ratio</h3>
						<p>View photos and videos in their original aspect ratio and at full resolution.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-search.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Better Search</h3>
						<p>Search for users, hashtags, locations and bookmark them for quick access.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-popular.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Explore</h3>
						<p>View popular content and find suggestions of users to follow.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-accessibility.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Accessibility</h3>
						<p>Support for VoiceOver and keyboard navigation.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-translation.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Translations</h3>
						<p>Understand your international followers, with support for translated captions and comments.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-gestures.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Gestures</h3>
						<p>Swipe on your trackpad, Magic Mouse or Magic Trackpad to navigate.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-integration.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Integrations</h3>
						<p>Flume is a native app with support for system share dialogs, Apple Maps, drag-and-drop and more.</p>
					</span>
				</li>
				<li>
					<span class="feature">
						<figure><img src="assets/images/feature-localized.svg" alt="" width="80" height="80" alt="" /></figure>
						<h3>Localized</h3>
						<p>Flume is available in 25+ languages, including support for VoiceOver and Touch Bar.</p>
					</span>
				</li>
			</ul>

			
				    <!-- <span class="border">
				    	<span class="border-title">What our customers are saying…</span>
				    </span>
					
					<div class="quotes">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
					        	<div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>Emoggio (Italy)</cite></span>
								            <p><strong>Just like the native app</strong><br />Great app!! Just like Instagram on your phone, but on your Mac.</p>
							            </blockquote>
						            </div>
					            </div>
					            <div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>oliedis (United Kingdom)</cite></span>
								            <p><strong>Best Mac Instagram client</strong><br />This is by far the best Instagram client for Mac!</p>
							            </blockquote>
						            </div>
					            </div>
					            <div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>Mbuto Machili (Mozambique)</cite></span>
								            <p><strong>Excellent app</strong><br />This app is perfect in many ways, from its design to the code. It's fluid and and it works flawlessly on my Mac. I love the way you can pretty much manoeuvre throughout the app with just your keyboard. I'd give it 10 stars.</p>
							            </blockquote>
						            </div>
					            </div>
					            <div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>T. Nathan (USA)</cite></span>
								            <p><strong>How is this not official?!</strong><br />Truly a fantastic app. Consistent and proactive updates by the developer, and a design that Instagram should themselves take notes from. It’s hard to believe the app isn’t an official Instagram product! Really great, and miles - MILES - better than Instagram’s website.</p>
							            </blockquote>
						            </div>
					            </div>
					            <div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>Adam1283 (USA)</cite></span>
								            <p><strong>Beautiful app! Perfect!</strong><br />There’s little that I can say about this app besides - it’s perfect.</p>
							            </blockquote>
						            </div>
					            </div>
					            <div class="swiper-slide">
						            <div class="quote">
							            <blockquote>
								            <span><i></i><i></i><i></i><i></i><i></i><cite>Montreal user (Canada)</cite></span>
								            <p><strong>Great!</strong><br />Love this app! Use it daily with my personal account and two company accounts! Exactly as advertised. Worth the money to support such a well thought out product.</p>
							            </blockquote>
						            </div>
					            </div>
					        </div>
					        <div class="swiper-pagination"></div>
					    </div>
					</div> -->
					
					<span class="border">
						<span class="border-title">As featured on…</span>
					</span>
					
					<ul class="reviews">
						<li><a class="review review-tnw" href="http://thenextweb.com/apps/2015/06/04/flume-brings-your-instagram-feed-to-your-new-tab-page/" target="_blank">The Next Web</a></li>
						<li><a class="review review-ntfm" href="https://9to5mac.com/2018/02/06/back-to-the-mac-002-the-apps-that-power-my-macos-workflow/" target="_blank">9to5Mac</a></li>
						<li><a class="review review-lh" href="http://lifehacker.com/flume-for-mac-brings-instagram-to-your-desktop-uploadi-1780329195" target="_blank">Lifehacker</a></li>
						<li><a class="review review-mw" href="http://www.macworld.co.uk/how-to/mac-software/how-use-upload-pictures-videos-instagram-on-mac-3641569/" target="_blank">MacWorld</a></li>
						<li><a class="review review-ms" href="https://www.macstories.net/news/our-favorite-mac-apps-of-2016/" target="_blank">MacStories</a></li>
						<!-- <li><a class="review review-ph" href="https://www.producthunt.com/posts/flume-2-0" target="_blank">ProductHunt</a></li> -->
						<li><a class="review review-bp" href="http://beautifulpixels.com/mac/flume-is-a-beautiful-instagram-app-for-mac/" target="_blank">Beautiful Pixels</a></li>
				    </ul>
					
				</div>
			</main>

			<footer id="footer" class="footer">
	<div class="inner">
		<ul class="links">
			<li>
				<ul>
					<li class="label">Flume</li>
					<li><a href="https://flumeapp.com/">App</a></li>
					<!-- <li><a href="https://flumeapp.com/new-tab/">Extension</a></li> -->
					<li><a href="https://flumeapp.com/blog/">Blog</a></li>
					<li><a href="https://flumeapp.com/refer-a-friend/">Refer-a-Friend</a></li>
					<li><a href="https://flumeapp.com/team/">Team</a></li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="label">Support</li>
					<li><a href="https://flumeapp.com/help/">Help Docs</a></li>
					<li><a href="https://flumeapp.com/support/">Support Portal</a></li>
					<li><a href="https://flumeapp.com/suggestions/">Suggest a Feature</a></li>
					<li><a href="https://flumeapp.com/pro/lost/">Recover Licence</a></li>
					<li><a href="https://flumeapp.com/appstore/">Mac App Store Transition</a></li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="label">Legal</li>
					<li><a href="https://flumeapp.com/legal/">Legal Notice</a></li>
					<li><a href="https://flumeapp.com/privacy/">Privacy Policy</a></li>
					<li><a href="https://flumeapp.com/terms/">Terms of Use</a></li>
				</ul>
			</li>
			<li>
				<ul>
					<li class="label">Social</li>
					<li><a href="https://instagram.com/flumeapp/">Instagram</a></li>
					<li><a href="https://twitter.com/flumeapp/">Twitter</a></li>
				</ul>
			</li>
		</ul>
		<p class="notes">Made with <img src="https://flumeapp.com/assets/images/made-with-love.png" width="16" height="10" alt="love" /> in Berlin</p>
	</div>
</footer>
</div>
		<script src="/assets/js/script.js" type="text/javascript"></script>
		<script type="text/javascript">
			var readyStateCheckInterval = setInterval(function() {
			    if (document.readyState === "complete") {
			        clearInterval(readyStateCheckInterval);
			        document.getElementsByTagName('html')[0].classList.add('ready');
			    }
			}, 10);

						jQuery(document).ready(function($) {
			    $(".scroll").click(function(event){     
			        event.preventDefault();
			        $('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			    });
			});	
			
		</script>

			</body>
</html>